.app-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding-right: 80px;
  background-color: #f9fafb;
}

.app-header {
  padding: 0% 1rem;
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 8;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111827;
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
